#################
## Mod Macro
#################

#Logs
scripts/logs/*

#tempfiles
scripts/.events.txt
.*.xml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
